
name: Build

on: [push, pull_request]

jobs:
  build:
    name: "Build, Test, Analyze and Publish"
    runs-on: windows-latest

    permissions:
      id-token: write
      attestations: write
      contents: write
      security-events: write
      actions: write

    env:
      DOTNET_NOLOGO: false

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup .NET SDKs
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          3.0.x
          8.0.x

    - name: Run NUKE
      run: ./build.ps1
      env:
        NugetArtifactsApiKey: ${{ secrets.NUGETAPIKEY }}
        GitHubApiKey: ${{ secrets.GITHUB_TOKEN }}

    - name: Check for 'lcov.info' existence
      id: check_files
      uses: andstor/file-existence-action@v3
      with:
        files: "TestResults/reports/lcov.info"

    - name: coveralls
      uses: coverallsapp/github-action@v2
      if: steps.check_files.outputs.files_exists == 'true'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: TestResults/reports/lcov.info

    - name: Check for NuGet package existence
      id: check_nupkg
      if: startsWith(github.ref, 'refs/tags/')
      uses: andstor/file-existence-action@v3
      with:
        files: "Artifacts/*.nupkg"

    - name: Attest NuGet package
      uses: actions/attest-build-provenance@v3
      if: startsWith(github.ref, 'refs/tags/') && steps.check_nupkg.outputs.files_exists == 'true'
      with:
        subject-path: ./Artifacts/*.nupkg

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: Artifacts/CodeIssues.sarif

    - name: Upload artifacts
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: windows-artifacts
        path: |
          ./Artifacts/*
          ./TestResults/*.trx

  publish-test-results:
    name: "Publish Tests Results"
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v5
      with:
        path: artifacts

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        comment_mode: always
        files: "artifacts/**/**/*.trx"

